<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            id="remotedeploy.contribution1">
         <menu
               label="远程部署"
               path="additions"
               id="remotedeploy.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="开始"
               class="remotedeploy.popup.actions.StartAction"
               menubarPath="remotedeploy.menu1/group1"
               enablesFor="1"
               id="remotedeploy.startAction">
         </action>
         <action
               label="停止"
               class="remotedeploy.popup.actions.StopAction"
               menubarPath="remotedeploy.menu1/group1"
               enablesFor="1"
               id="remotedeploy.stopAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
